@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --swiper-pagination-color: red;
    --swiper-pagination-bullet-inactive-color: #fff;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #212529;
}
::-webkit-scrollbar-thumb {
    background: #F93208;
    border-radius: 10px;
}
/* NAV BAR */
.navbar-dark, .browse .btn-dark, .dropdown-menu, .dropdown-item {
    background-color: #151515!important;
    border: none;
    color: #939191;
}
.browse .btn:hover {
    background-color: #2c2c2c!important;
}
input[type="search"]:focus {
    outline: none !important;
    box-shadow: none !important;
  }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}
a:hover, .btn:hover {
    color: #F93208 !important;
}
.btn-outline-primary .btn:hover {
    color: #F93208 !important;
}
button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}
button:hover {
    color: rgb(49, 49, 49);
}
.browse .dropdown-menu a:focus {
    box-shadow: 0 0 10px 100px #2c2c2c inset;
}
.navbar-toggler button, #menu a {
    display: none !important;
}
.navbar-collapse #nav-hidden {
    display: none;
    visibility: hidden;
}
.navbar .search-bar span {
    cursor: pointer;
}
.navbar .search-bar i:active {
    transform: translateY(2px);
}
.navbar .search-bar i:hover {
    color: #F93208;
}
.navbar .submenu {
    display: none;
    visibility: hidden;
}
/* Search Bar */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }  
.search-bar {
    border: none;
 }
 .input-group input {
    outline: none;
    box-shadow: none;
    border: none;
}
.input-group input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
.search-bar form {
    outline: none;
}
a:hover, .btn:hover {
    color: #F93208 !important;
}
.btn-outline-primary .btn:hover {
    color: #F93208 !important;
}
button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}
button:hover {
    color: rgb(49, 49, 49);
}
.browse .dropdown-menu a:focus {
    box-shadow: 0 0 10px 100px #2c2c2c inset;
}
.navbar-toggler button, #menu a {
    display: none !important;
}
.navbar-collapse #nav-hidden {
    display: none;
    visibility: hidden;
}
.news-section {
    padding-top: 65px;
}
.news-card img {
    object-fit: fill!important;
    height: 100%;
}
.card {
    max-height: fit-content;
}
.news-section a {
    cursor: pointer;
    text-decoration: none;
}
/* FOOTER SECTION */
footer {
    background-color: #141414;
    padding: 40px;
}
footer a, h6 {
    text-decoration: none;
    color: #696969;
    margin: auto;
}
footer ul li {
    list-style-type: none;
}
footer .newsletter h6 {
    padding-left: 30px;
}
footer .newsletter p {
    color: #696969;
    padding-left: 30px;
}
footer input {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    width: 250px;
    margin-left: 30px;
}
footer input[type="email"]:focus {
    outline: none !important;
    box-shadow: none !important;
  }
footer 
input[type="email"]::-webkit-search-decoration,
input[type="email"]::-webkit-search-cancel-button,
input[type="email"]::-webkit-search-results-button,
input[type="email"]::-webkit-search-results-decoration { 
    display: none; 
}
footer button {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #F93208;
    text-align: center;
    line-height: 1.8em;
    border: none;
}
footer button:hover {
    background-color: #d02402;
    color: #fff;
}
footer button:active {
    transform: translateY(1px);
}
footer .links {
    margin: auto;
    text-align: center;
}
footer .links span {
    color: #696969;
    cursor: pointer;
}
footer .links span:hover {
    color: #F93208;
}
footer .copyrights {
    color: #696969;
    margin: auto;
    text-align: center;
}
@media (max-width: 1024px) {
    .news-section {
        padding-top: 95px;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
