@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --swiper-pagination-color: red;
    --swiper-pagination-bullet-inactive-color: #fff;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background-color: #212529;
}
/* NAV BAR */
input[type="search"]:focus {
    outline: none !important;
    box-shadow: none !important;
  }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}
a:hover, .btn:hover {
    color: #F93208 !important;
}
.btn-outline-primary .btn:hover {
    color: #F93208 !important;
}
button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}
button:hover {
    color: rgb(49, 49, 49);
}
.browse .dropdown-menu a:focus {
    box-shadow: 0 0 10px 100px #2c2c2c inset;
}
.navbar-dark, .browse .btn-dark, .navbar .dropdown-menu, .navbar .dropdown-item {
    background-color: #151515!important;
    border: none;
    color: #939191;
}
.navbar-toggler button, #menu a {
    display: none !important;
}
.navbar-collapse #nav-hidden {
    display: none;
    visibility: hidden;
}
.navbar .search-bar span {
    cursor: pointer;
}
.navbar .search-bar i:active {
    transform: translateY(2px);
}
.navbar .search-bar i:hover {
    color: #F93208;
}
/* TV SHOWS */
.tvshows-section {
    padding-top: 40px;
}
.tvshows-section .title, .tvshows-section h2 {
    color: #fff;
    padding-bottom: 10px;
}
.streaming-platforms {
    cursor: pointer;
}
.streaming-platforms img{
    filter: grayscale(50%);
    transition: filter 0.3s ease;
}
.streaming-platforms img:hover{
    filter: grayscale(0%);
}
/* Movie Cards */
.card {
    width: 100%;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.card-body {
    padding: 10px;
}

.card-text {
    font-size: 16px;
    font-weight: bold;
}
.swiper-container {
    width: 100%; 
    overflow: hidden; 
    position: relative;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; 
}
.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }
.swiper-button-next,
.swiper-button-prev {
    top: 50%!important;
    transform: translateY(-50%);
    color: #fff!important;
    z-index: 10;
}
.swiper-button-next {
  right: -10px;
}
.swiper-button-prev {
  left: -10px;
}
.swiper-button-next, .swiper-button-prev {
    color: #F93208 !important;
}
.swiper-button-next:active, .swiper-button-prev:active,
.swiper-button-next:focus, .swiper-button-prev:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* FOOTER SECTION */
footer {
    background-color: #141414;
    padding: 40px;
}
footer a, h6 {
    text-decoration: none;
    color: #696969;
    margin: auto;
}
footer ul li {
    list-style-type: none;
}
footer .newsletter h6 {
    padding-left: 30px;
}
footer .newsletter p {
    color: #696969;
    padding-left: 30px;
}
footer input {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    width: 250px;
    margin-left: 30px;
}
footer input[type="email"]:focus {
    outline: none !important;
    box-shadow: none !important;
  }
footer 
input[type="email"]::-webkit-search-decoration,
input[type="email"]::-webkit-search-cancel-button,
input[type="email"]::-webkit-search-results-button,
input[type="email"]::-webkit-search-results-decoration { 
    display: none; 
}
footer button {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #F93208;
    text-align: center;
    line-height: 1.8em;
    border: none;
}
footer button:hover {
    background-color: #d02402;
    color: #fff;
}
footer button:active {
    transform: translateY(1px);
}
footer .links {
    margin: auto;
    text-align: center;
}
footer .links span {
    color: #696969;
    cursor: pointer;
}
footer .links span:hover {
    color: #F93208;
}
footer .copyrights {
    color: #696969;
    margin: auto;
    text-align: center;
}
