* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    background-color: #212529;
    position: relative;
    height: 100%;
}
/* NAV BAR */
input[type="search"]:focus {
    outline: none !important;
    box-shadow: none !important;
  }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}
a:hover, .btn:hover {
    color: #F93208 !important;
}
.btn-outline-primary .btn:hover{
    color: #F93208 !important;
}
button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}
button:hover {
    color: rgb(49, 49, 49);
}
.search-btn:active {
    background-color: #F93208;
}
.browse .dropdown-menu a:focus {
    box-shadow: 0 0 10px 100px #2c2c2c inset;
}
.navbar-toggler button, #menu a{
    display: none !important;
}
.navbar-collapse #nav-hidden {
    display: none;
    visibility: hidden;
}

/* Home Section */
.hero-content {
    position: relative;
    height: 100%;
    display: flex;
}
.hero-content .poster-img {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: block;
}
.movie-details {
    margin-top: 90px;
}
.movie-title {
    z-index: 999;
    width: 540px;
    height: 300px;
    position: relative;
    /* margin-top: 90px; */
}
.movie-description {
    z-index: 99;
    position: relative;
    color: #fff;
    align-items: center;
    padding: 5px;
}
.movie-genre {
    padding-bottom: 10px;
}
.movie-genre span {
    background-color: rgba(217, 217, 217, 0.3);
    color: #fff;
    padding: 4px;
    margin-right: 6px;
}
.rating-container {
    display: flex;
}
.tomatometer, .rating-score span {
    font-weight: 700;
}
.rating-score img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
.trailer-btn {
    text-align: center;
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-color: #F93208;
    background-color: rgba(206, 204, 204, 0);
    color: #F93208;
    box-shadow: 0 0 0 0 rgba(#F93208, .5);
}
.trailer-btn:hover {
    background-color: #F93208;
    color: #fff;
    transform: 4px;
}
.trailer-btn:active {
    background-color: #d02402;
}
.trailer-btn span {
    vertical-align: middle;
    line-height: normal;
}
.trailer-btn i {
    padding-right: 5px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  