@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --swiper-pagination-color: red;
    --swiper-pagination-bullet-inactive-color: #fff;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    background-color: #212529;
    position: relative;
}
/* NAV BAR */
input[type="search"]:focus {
    outline: none !important;
    box-shadow: none !important;
  }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}
a:hover, .btn:hover {
    color: #F93208 !important;
}
.btn-outline-primary .btn:hover {
    color: #F93208 !important;
}
button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}
button:hover {
    color: rgb(49, 49, 49);
}
.browse .dropdown-menu a:focus {
    box-shadow: 0 0 10px 100px #2c2c2c inset;
}
.navbar-toggler button, #menu a {
    display: none !important;
}
.navbar-collapse #nav-hidden {
    display: none;
    visibility: hidden;
}
/* Home Section */
.hero-content {
    position: relative;
    height: 100%;
    display: flex;
}
.hero-content .poster-img {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: block;
}
.hero-content .movie-details {
    z-index: 99999;
    margin-top: 70px;
    position: relative;
}
.hero-content .movie-title {
    position: relative;
    float: left;
    width: 500px;
    height: 300px;
    -webkit-animation: myAnimation 0.9s linear forwards;
}
.hero-content .movie-title img {
    z-index: 999;
    position: relative;
    float: left;
    animation-delay: 2s;
}
.hero-content .movie-description {
    font-size: 12px;
    z-index: 99999;
    position: relative;
    color: #fff;
    align-items: center;
    padding: 5px;
}
.hero-content .movie-genre {
    padding-bottom: 10px;
}
.movie-description .movie-genre span {
    background-color: rgba(217, 217, 217, 0.3);
    color: #fff;
    padding: 4px;
    margin-right: 6px;
    border-radius: 2px;
    cursor: pointer;
}
.hero-content .movie-description .rating-container {
    display: inline-flex;
    align-items: center;
}
.hero-content .movie-description .rating-score {
    display: flex;
    align-items: center;
}
.hero-content .movie-description .rating-score span{
    padding-left: 5px;
}
.hero-content .tomatometer {
    font-weight: 700;
}
.hero-content .rating-score img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
.hero-content .movie-details .trailer-btn {
    /* cursor: pointer; */
    font-size: 10px;
    text-align: center;
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border-color: #F93208;
    background-color: rgba(206, 204, 204, 0);
    color: #F93208;
    box-shadow: 0 0 0 0 rgba(#F93208, .5);
}
.hero-content .movie-details  .trailer-btn:hover {
    background-color: #F93208;
    color: #fff;
    transform: 4px;
}
.hero-content .movie-details  .trailer-btn:active {
    background-color: #d02402;
}
.hero-content .movie-details  .trailer-btn span {
    vertical-align: middle;
    line-height: normal;
}
.hero-content .movie-details .trailer-btn i {
    padding-right: 5px;
}
.movie-details .slider2-title {
    margin-top: 63px;
    margin-bottom: 20px;
    width: max-content;
    max-height: 200px;
}
.movie-details .slide3-title {
    width: max-content;
    max-height: 200px;
    margin-top: 63px;
    margin-bottom: 20px;
    padding-right: 100px;
}
/* Swiper */
.swiper {
    width: 100%;
    height: 100vh;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next, .swiper-button-prev {
    color: #F93208 !important;
}
.swiper-button-next:active, .swiper-button-prev:active,
.swiper-button-next:focus, .swiper-button-prev:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
/* Movies Section */
.movies-section {
    height: max-content;
    position: relative;
    padding-bottom: 80px;
}
.movies-header {
    margin-top: 20px;
    display: flex;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
}
.movies-header span {
    font-size: 50px;
    padding-right: 5px;
    color: #F93208;
    text-align: center;
}
/* Movie Cards Section */
.movies-section .view-btn {
    /* background-color: #F93208; */
    position: relative;
    float: inline-end;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: rgb(147, 147, 147);
    display: flex;
}
.movie-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#popular-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    /* margin-right: 5px; */
    position: relative;
    width: 11rem;
    border-spacing: 0;
    display: inline-flex;
    overflow: hidden!important;
}
.card-img-top {
    height: 350px!important;
    position: relative;
    border-radius: 8px;
    overflow: hidden!important;
    object-fit: cover;
}
.card-img-top img {
    max-height: fit-content;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.card .tomatometer span {
    font-size: 12px;
    font-weight: 600;
}
.card .tomatometer img {
    max-width: 25px;
    max-height: 25px;
}
.card-title {
    font-size: 12px;
    color: #565656;
}
.card .watch-btn {
    align-items: center;
    font-size: 12px;
}
.card .watch-btn button{
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 25px;
    border-width: 1px;
}
.card .watch-btn button:hover {
    background-color: #e1e1e1;
}
/* Banner */
.banner {
    width: 100%;
    background-color: #F93208;
    height: 200px;
    overflow: hidden;
}
.banner img {
    height: 200px;
    float: right;
    position: relative;
}
.banner p {
    font-size: 36px;
    font-family: "Inter", serif!important;
    font-weight: 600;
    padding-left: 50px;
    padding-top: 40px;
}
.banner a {
    text-decoration: none;
    color: #fff;
}
.banner a:hover {
    color: black!important;
}
/* EXPLORE SECTION */
.explore-section {
    position: relative;
    height: max-content;
    padding-bottom: 30px;
}
.explore-section a {
    float: inline-end;
    padding-bottom: 20px;
    padding-right: 25px;
    text-decoration: none;
    color: rgb(147, 147, 147);
}
.explore-header {
    margin-top: 20px;
    display: flex;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
}
.explore-header span {
    font-size: 50px;
    padding-right: 5px;
    color: #F93208;
    text-align: center;
}
.explore-cards {
    position: relative;
    display: inline-flex!important;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.explore-card {
    position: relative;
    width: 16rem!important;
    height: 15rem;
    cursor: pointer;
    border: none;
    background-color: inherit;
}
#explore-title {
    color: #fff;
}
/* FOOTER SECTION */
footer {
    background-color: #141414;
    padding: 40px;
}
footer a, h6 {
    text-decoration: none;
    color: #696969;
    margin: auto;
}
footer ul li {
    list-style-type: none;
}
footer .newsletter h6 {
    padding-left: 30px;
}
footer .newsletter p {
    color: #696969;
    padding-left: 30px;
}
footer input {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    width: 250px;
    margin-left: 30px;
}
footer input[type="email"]:focus {
    outline: none !important;
    box-shadow: none !important;
  }
footer 
input[type="email"]::-webkit-search-decoration,
input[type="email"]::-webkit-search-cancel-button,
input[type="email"]::-webkit-search-results-button,
input[type="email"]::-webkit-search-results-decoration { 
    display: none; 
}
footer button {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #F93208;
    text-align: center;
    line-height: 1.8em;
    border: none;
}
footer button:hover {
    background-color: #d02402;
    color: #fff;
}
footer button:active {
    transform: translateY(1px);
}
footer .links {
    margin: auto;
    text-align: center;
}
footer .links span {
    color: #696969;
    cursor: pointer;
}
footer .links span:hover {
    color: #F93208;
}
footer .copyrights {
    color: #696969;
    margin: auto;
    text-align: center;
}